{% extends 'writer/base.html' %}
{% block title %}
Dashboard - Pentagon
{% endblock  %}
{% block content %}
<div class="navbar bg-base-200">
    <div class="flex-1">
      <a href="{% url 'home' %}" class="btn btn-ghost text-xl"><div class="mask mask-pentagon w-8 h-8 border-8 border-neutral-100	"></div>Pentagon</a>
    </div>
    <div class="flex-none gap-2">
     
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
              <img
                style="object-fit: contain;width:100%;height:100%"
                alt="Tailwind CSS Navbar component"
                src="{{account_status.profile.url}}" />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a href="{% url 'client-home' %}">Go to Blog</a></li>
          <li><a href="{% url 'profile' %}">Settings</a></li>
          <li><a href="{% url 'sign-out' %}">Logout</a></li>
        </ul>
      </div>
      {{user}}

    </div>
  </div>

<div class="flex">
    <ul class="menu bg-base-200  w-56 min-h-screen">
        <li class="my-3"><a class="ml-4" href="{% url 'admin-dashboard' %}"><i class="fa-solid fa-house mr-1"></i>Dashboard</a></li>
        <li class="my-3">
          <a class="ml-4" href="{% url 'writer-ranks' %}"><i class="fa-solid fa-ranking-star"></i>Ranks</a>
        </li>
        <li class="my-3">
            <a class="ml-4" href="{% url 'subscription-statistics' %}"><i class="fa-solid fa-dollar-sign"></i>Subscriptions</a>
        </li>
        
    </ul>
    {% block writer %}
    <div class="my-4">
        <div class="justify-center">
            <div class="grid grid-cols-4 gap-2 mx-3">
                <div class="card bg-base-200 w-72 shadow-xl">
                    <div class="card-body">
                      <h2 class="card-title flex justify-between items-center">Users <div> {{users}}</div></h2>
                      
                      <div class="card-actions justify-end">
                        <button class="btn btn-primary">Buy Now</button>
                      </div>
                    </div>
                  </div>
                  <div class="card bg-base-200 w-72 shadow-xl">
                    <div class="card-body">
                      <h2 class="card-title">Authors</h2>
                      <div class="card-actions justify-end">
                        <button class="btn btn-primary">Buy Now</button>
                      </div>
                    </div>
                  </div>
                  <div class="card bg-base-200 w-72 shadow-xl">
                    <div class="card-body">
                      <h2 class="card-title">Subscription Users</h2>
                      
                      <div class="card-actions justify-end">
                        <button class="btn btn-primary">Buy Now</button>
                      </div>
                    </div>
                  </div>
                  <div class="card bg-base-200 w-72 shadow-xl">
                    <div class="card-body">
                      <h2 class="card-title">Articles</h2>
                     
                      <div class="card-actions justify-end">
                        <button class="btn btn-primary">Buy Now</button>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    {% endblock  %}
</div>

{% endblock  %}