{% extends 'writer/admin-dashboard.html' %}
{% block writer %}
<div class=" w-full bg-base-200 m-3 max-h-fit">
    <table class="table">
      <!-- head -->
      <div>
        <h2 class="text-center p-3 font-bold">Article Statistics</h2>
  
      </div>
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Photo</th>
          <th>Category</th>
          <th>Plan</th>
          <th>Views</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        
        {% for article in articles %}

            <tr>
                <td>
                  {{article.id}}
                </td>
                <td>
                  {{article.title}}
                </td>
                <td>
                  <div class="flex items-center gap-3">
                    <div class="avatar">
                      <div class="mask mask-squircle h-12 w-12">
                        <img src="{{ article.photo.url }}" alt="Profile Image" />
                        
                      </div>
                    </div>
                    
                  </div>
                </td>
                <td>
                    <div class="font-bold">{{article.category}}</div>
                </td>
                <td>
                    <div class="font-bold"> 
                      {% if article.is_premium %}
                      <i class="fa-solid fa-crown text-warning"></i>
                      Premium
                      {% elif article.is_standard %}
                      <i class="fa-solid fa-lock"></i>
                      Standard
                      {% else %}
                      <i class="fa-solid fa-lock-open"></i>
                      Free
                      {% endif %}
                      </div>
                </td>
                <td>
                    <div class="font-bold">{{article.view_count}} </div>
                </td>
              </tr>
            
        {% endfor %}
            
        
        
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr>
          <th></th>
          <th>Total Articles</th>
          <th>{{count}}</th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock  %}