{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.css">
    <title>
        {% block title %}
      
        {% endblock  %}
    </title>
</head>
<body>
    {{ redirect_to_login_immediately }}

    {% block content %}
      
    {% endblock  %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        const socket = new WebSocket("ws://localhost:8000/ws/comments/");

        socket.onopen = function() {
            console.log("WebSocket Connected!");
        };

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            console.log("New Comment from:", data.user);
            console.log("Comment Text:", data.text);
            console.log(event)
        };

        socket.onerror = function(error) {
            console.log("WebSocket Error:", error);
        };

        socket.onclose = function() {
            console.log("WebSocket Disconnected!");
        };

    </script>
</body>
</html>