{% extends 'writer/writer-dashboard.html' %}
{% load daisyui_filters %}
{% load crispy_forms_tags %}
{% block writer %}
<div class="w-full">
  <div class="grid grid-cols-6 gap-4">
    <div class="col-start-1 col-span-4">
      <div class="card m-4 bg-base-200 shadow-xl">
        <div class="card-body">
          <form action="{% url 'update-article' article.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="my-3">
              <h3 for="">Title</h3>
              <input name="title" value="{{article.title}}" type="text" placeholder="Type here" class="input input-bordered  w-full">
            </div>
            <div class="my-3">
              <h3 for="">Content</h3>
              <textarea cols="30"  rows="10" name="content" id="content">{{article.content|safe}}</textarea>
            </div>
            <div class="my-3">
              <h3 for="">Photo</h3>
                <img class="my-2" style="max-height:150px;" src="{{article.photo.url}}" alt="">
              <input name="photo" type="file" class="file-input file-input-bordered file-input-primary w-full" />
            </div>
            <div class="my-3">
              <h3 for="">Category</h3>
              <select name="category" class="select select-bordered w-full">
                <option disabled selected>Select Category</option>
                {% for key,value in categories %}
                  
                  
                    
                  <option value="{{key}}" 
                  {% if key == article.category %}
                    selected
                  {% endif %}
                     >{{value}}</option>
                {% endfor %}
                  
              </select>
            </div>
            
            {% if article.is_standard is True %}
            <div class="flex justify-between">
              <h3 for="">Is Standard</h3>
              <div class="form-control">
                <label class="cursor-pointer label">
                  <input type="checkbox" 
                  value="True"
                  {% if article.is_standard %}
                    checked="checked" name="is_standard"
                  {% endif %}
                     class="checkbox checkbox-accent" />
                </label>
              </div>
            </div>
            {% endif %}
            {% if article.is_premium is True %}
            <div class="flex justify-between">
              <h3 for="">Is Premium</h3>
              <div class="form-control">
                <label class="cursor-pointer label">
                  <input type="checkbox"  name="is_premium" value="True"
                  {% if article.is_premium %}
                    checked="checked"
                  {% endif %}
                     class="checkbox checkbox-warning" />
                </label>
              </div>
            </div>
            {% endif %}
            <button type="submit" class="btn btn-accent" ><i class="fa-solid fa-up-long"></i>Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.umd.js"></script>
<script>
  const {
    ClassicEditor,
    Essentials,
    Bold,
    Italic,
    Font,
    Paragraph
  } = CKEDITOR;
  ClassicEditor
          .create( document.querySelector('#content'), {
            licenseKey: 'eyJhbGciOiJFUzI1NiJ9.eyJleHAiOjE3NzA1MDg3OTksImp0aSI6IjAyZDkwOTM0LWM0ODgtNGZiMi1iMTExLTJjYmJjYTYwZGEwNiIsImxpY2Vuc2VkSG9zdHMiOlsiMTI3LjAuMC4xIiwibG9jYWxob3N0IiwiMTkyLjE2OC4qLioiLCIxMC4qLiouKiIsIjE3Mi4qLiouKiIsIioudGVzdCIsIioubG9jYWxob3N0IiwiKi5sb2NhbCJdLCJ1c2FnZUVuZHBvaW50IjoiaHR0cHM6Ly9wcm94eS1ldmVudC5ja2VkaXRvci5jb20iLCJkaXN0cmlidXRpb25DaGFubmVsIjpbImNsb3VkIiwiZHJ1cGFsIl0sImxpY2Vuc2VUeXBlIjoiZGV2ZWxvcG1lbnQiLCJmZWF0dXJlcyI6WyJEUlVQIl0sInZjIjoiNDM3MGQwZjAifQ.UOL-TuFiyxJR8UrIsuqtMxA1RRWSPfVfJZ_yNLaXArzgD0uKBUvQ41IRFddexL0a2wJ3Mq11ChETpl9zcySBZw', // Create a free account on https://portal.ckeditor.com/checkout?plan=free
            plugins: [ Essentials, Bold, Italic, Font, Paragraph ],
            toolbar: [
              'undo', 'redo', '|', 'bold', 'italic', '|',
              'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
            ]
          } )
          .then( editor => {
            window.editor = editor;
          } )
          .catch( error => {
            console.error( error );
          } );
</script>
{% endblock  %}