{% extends 'writer/writer-dashboard.html' %}
{% block title %}
  Ranks - Pentagon
{% endblock  %}
{% block writer %}
    <div class="justify-center">
        <div class="grid grid-cols-3 gap-2 mx-3 my-3">
            <div class="card bg-base-200 w-96 shadow-xl">
                <figure class="mt-2">
                    <i class="fa-solid fa-medal text-6xl"></i>
                </figure>
                <div class="card-body items-center text-center">
                  <h2 class="card-title">Silver</h2>
                  <ul class="list-disc	">
                    <li><p class="text-justify">Welcome to the Silver Rank!</p></li>
                    <li>
                      
                      <p class="text-justify">
                        
                        You're officially a verified writer. No view count or article requirements — just your passion for writing.
                      </p>
                    </li>
                  </ul>
                  <div class="card-actions justify-end">

                  </div>
                </div>
              </div>
              <div class="card bg-base-200 w-96 shadow-xl">
                <figure class="mt-2">
                   <i class="fa-solid fa-award text-6xl text-yellow-600	"></i>
                </figure>
                <div class="card-body items-center text-center">
                  <h2 class="card-title">Gold</h2>
                    <ul class="list-disc	">
                      <li><p class="text-justify">Welcome to the Gold Rank!</p></li>

                        <li>
                          <p class="text-justify">To achieve this rank, maintain an average of 500 views per article with at least 5 published articles.</p>
                        </li>
                    </ul>
                  <div class="card-actions justify-end">
                  </div>
                </div>
              </div>
              <div class="card bg-base-200 w-96 shadow-xl">
                <figure class="mt-2">
                    <i class="fa-solid fa-trophy text-6xl" style="color: rgb(229, 228, 226);"></i>
                </figure>
                <div class="card-body items-center text-center">
                  <h2 class="card-title">Platinum</h2>
                    <ul class="list-disc">
                      <li><p class="text-justify">Welcome to the Platinum Rank!</p></li>

                      <li>
                        <p class="text-justify">The ultimate recognition! To achieve Platinum Rank, maintain an average of 1000 views per article with at least 10 published articles.
                        </p>
                      </li>
                    </ul>
                  <div class="card-actions justify-end">
                  </div>
                </div>
              </div>
        </div>
    </div>
{% endblock  %}