{% extends 'writer/base.html' %}
{% block content %}
<div class="navbar bg-base-200">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">Pentagon</a>
    </div>
    <div class="flex-none gap-2">
      <div class="form-control">
        <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
      </div>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img
              alt="Tailwind CSS Navbar component"
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a href="{% url 'client-home' %}">Go to Blog</a></li>
          <li><a href="{% url 'profile' %}">Settings</a></li>
          <li><a href="{% url 'sign-out' %}">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="flex">
    <ul class="menu bg-base-200  w-56 min-h-screen">
        <li><a class="ml-4" href="{% url 'writer-dashboard' %}">Dashboard</a></li>
        
        <li>
            <div class="bg-base-200 collapse collapse-arrow">
                <input type="checkbox" class="peer" />
                <div
                  class="collapse-title">
                  Create Article
                </div>
                <div
                  class="collapse-content">
                  <ul class="menu">
                    <li><a href="{% url 'create-article' %}">Free</a></li>
                    <li> <a href="{% url 'create-standard-article' %}">Standard</a></li>   
                    <li><a href="{% url 'create-premium-article' %}">Premium</a></li>
                  </ul>
                </div>
              </div>
        </li>
        <li>
          <a class="ml-4" href="{% url 'create-collection' %}">Create Collection</a>
        </li>
        <li>
          <a class="ml-4" href="{% url 'writer-ranks' %}">Ranks</a>
        </li>
    </ul>
    {% block writer %}
        <div class="justify-center">
            <div class="card m-3 bg-base-200 w-96 shadow-xl">
        
                <div class="card-body">
                  <h2 class="card-title">Welcome {{user}}</h2>
                </div>
              </div>
              <div class="grid grid-cols-4 gap-2 mx-3">
                
                {% for article in articles %}    
                <div class="card m-3 bg-base-200 w-72 shadow-xl">
                    <figure>
                        <img style="max-height:150px;" src="{{article.photo.url}}" alt="">
                      </figure>
                    <div class="card-body">
                    
                      <h2 class="card-title">{{ article.title}}</h2>
                      <p>{{article.content|truncatewords:20}}</p>
                      <div class="badge badge-info badge-outline">{{article.category}}</div>

                      {{article.posted_at|date:"Y-m-d"}}
                      <br>
                      {% if article.is_premium %}
                        Premium
                        {% elif article.is_standard %}
                        <div class="flex items-center"> <i class="fa-solid fa-lock-open mr-1"></i>Standard</div>
                        {% else %}
                        <div class="flex items-center"> <i class="fa-solid fa-lock-open mr-1"></i>Free</div>
                      {% endif %}
                        
                      <div class="gap-4 grid">
                        <a href="{% url 'update-article' article.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete-article' article.id %}" class="btn btn-error">Delete</a>
                        </div>
                    </div>
                  </div>
                  
                {% endfor %}

              
              </div>
        </div>
       
        
    {% endblock  %}
 
</div>
{% endblock  %}