{% extends 'writer/base.html' %}

    {% block title %}
      Dashboard - Pentagon
    {% endblock  %}

{% block content %}
<div class="navbar bg-base-200">
    <div class="flex-1">
      <a href="{% url 'home' %}" class="btn btn-ghost text-xl"><div class="mask mask-pentagon w-8 h-8 border-8 border-neutral-100	"></div>Pentagon</a>
    </div>
    <div class="flex-none gap-2">
     
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
              <img
                style="object-fit: contain;width:100%;height:100%"
                alt="Tailwind CSS Navbar component"
                src="{{account_status.profile.url}}" />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a href="{% url 'client-home' %}">Go to Blog</a></li>
          <li><a href="{% url 'profile' %}">Settings</a></li>
          <li><a href="{% url 'sign-out' %}">Logout</a></li>
        </ul>
      </div>
      {{user}}

    </div>
  </div>

<div class="flex">
    <ul class="menu bg-base-200  w-56 min-h-screen">
        <li><a class="ml-4" href="{% url 'writer-dashboard' %}"><i class="fa-solid fa-house mr-1"></i>Home</a></li>
        
        <li>
            <div class="bg-base-200 collapse collapse-arrow ">
                <input type="checkbox" class="peer" />
                <div
                  class="collapse-title">
                  <i class="fa-solid fa-book mr-1"></i>Create Article
                </div>
                <div
                  class="collapse-content">
                  <ul class="menu">
                    <li><a  href="{% url 'create-article' %}">Free</a></li>
                    <li><a  href="{% url 'create-standard-article' %}">Standard<i class="fa-solid fa-lock mr-1"></i></a></li>   
                    <li><a  href="{% url 'create-premium-article' %}">Premium<i class="fa-solid fa-lock mr-1"></i></a></li>
                  </ul>
                </div>
              </div>
        </li>
        
        <li>
          <a class="ml-4" href="{% url 'writer-ranks' %}"><i class="fa-solid fa-ranking-star"></i>Ranks</a>
        </li>
        <li>
          <a class="ml-4" href="{% url 'check-comments' %}"><i class="fa-solid fa-comments"></i>Comments 
          
          {% if user_notifications %}
          <div class="badge badge-secondary">
            +{{user_notifications}}
          </div>
          {% endif %}
            
          </a>
        </li>
    </ul>
    {% block writer %}
        <div class="justify-center">
            <div class="card m-3 bg-base-200 w-96 shadow-xl">
        
                <div class="card-body">
                  <h2 class="card-title">Welcome {{user}}<i class="fa-solid fa-hand-wave"></i></h2>
                </div>
              </div>
              <div class="grid grid-cols-4 gap-2 mx-3">
                
                
                {% if articles %}
                {% for article in articles %}    
                <div class="card m-3 bg-base-200 w-72 shadow-xl">
                    <figure>
                        <img style="max-height:150px;" src="{{article.photo.url}}" alt="">
                      </figure>
                    <div class="card-body">
                    
                      <h2 class="card-title">{{ article.title}}</h2>
                      <p>{{article.content|safe|truncatewords:20}}</p>
                      <div class="badge badge-warning badge-outline">{{article.category}}</div>

                      {{article.posted_at|date:"Y-m-d"}}
                      <br>
                      {% if article.is_premium %}
                        <div class="flex items-center">
                          <i class="fa-solid fa-crown text-warning mr-1 "></i>
                          Premium
                        </div>
                        {% elif article.is_standard %}
                        <div class="flex items-center"><i class="fa-solid fa-lock mr-1"></i>Standard</div>
                        {% else %}
                        <div class="flex items-center"> <i class="fa-solid fa-lock-open mr-1"></i>Free</div>
                      {% endif %}
                        
                      <div class="gap-4 grid">
                        <a href="{% url 'update-article' article.id %}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
                        <a href="{% url 'delete-article' article.id %}" class="btn btn-error"><i class="fa-solid fa-trash"></i>Delete</a>
                        </div>
                    </div>
                  </div>
                  
                {% endfor %}
                {% else %}
                <div>
                  <p class="text-center">No Articles Here</p>
                </div>
                {% endif %}
                  

              
              </div>
        </div>
       
        
    {% endblock  %}
 
</div>
{% endblock  %}