{% extends "account/base.html" %}
{% block content %}
<div class=" bg-base-200 min-h-screen">
    <div class="flex justify-center">
      <div class="max-w-md mt-10">
        <a class="btn btn-ghost text-xl flex justify-center">Pentagon</a>
        <div class="card bg-base-100 w-96 shadow-xl">
            <div class="card-body">
                <i class="fa-solid fa-circle-check text-center text-5xl"></i>
                 <p class="text-center">Password reset complete.</p>
                 <!-- <p class="text-sm text-center">Please Click Through Sign-In</p> -->
                  <a href="{% url 'sign-in' %}" class="btn"><i class="fa-solid fa-right-to-bracket"></i>Sign In</a>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock  %}