{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="navbar-start">
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16" />
              </svg>
            </div>
          </div>
          <a href="{% url 'home' %}" class="btn btn-ghost text-xl">Pentagon</a>
        </div>
        <div class="navbar-center gap-5">
            <a id="standard" href="{% url 'standard-posts' %}" class=" link ">Standard Articles</a>
            <a  href="{% url 'premium-posts' %}" class="link">Premium Articles</a>
          </div>
        <div class="navbar-end gap-3">
          {% if user.is_authenticated %}
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <img
                  style="object-fit: contain;width:100%;height:100%"
                  alt="Tailwind CSS Navbar component"
                  src="{{account_status.profile.url}}" />
              </div>
    
            </div>
    
            <ul
              tabindex="0"
              class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
              <li><a href="{% url 'writer-dashboard' %}">Dashboard</a></li>
              <li><a href="{% url 'profile' %}">Settings</a></li>
              <li><a href="{% url 'sign-out' %}">Logout</a></li>
            </ul>
          </div>
          {{user}}
          {% else %}
          <a href="{% url 'sign-up' %}" class="btn">Sign Up</a>
          <a href="{% url 'sign-in' %}" class="btn">Sign In</a>
          {% endif %}
          
        </div>
       </div>
       {{ redirect_to_login_immediately }}

    {% block content %}
      
    {% endblock  %}
    <script src="https://cdn.tailwindcss.com"></script>
   
</body>
</html>