{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <style>
      /* CSS for the spinner */
      
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      
      .spinner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        
      }
      </style>

    <title>
      {% block title %}
      
      {% endblock  %}
    </title>
</head>
<body>
  
    <div class="navbar bg-base-200 shadow-xl">
        <div class="navbar-start">
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16" />
              </svg>
            </div>
          </div>
          <a href="{% url 'home' %}" class="btn btn-ghost text-xl"><div class="mask mask-pentagon w-8 h-8 border-8 border-neutral-100	"></div>Pentagon</a>
        </div>
        <div class="navbar-center gap-5">
            <a id="standard" href="{% url 'standard-posts' %}" class=" link ">Standard Articles</a>
            <a  href="{% url 'premium-posts' %}" class="link">Premium Articles</a>
          </div>
        <div class="navbar-end gap-3">
          {% if user.is_authenticated %}
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <img
                  style="object-fit: contain;width:100%;height:100%"
                  alt="Tailwind CSS Navbar component"
                  src="{{account_status.profile.url}}" />
              </div>
    
            </div>
    
            <ul
              tabindex="0"
              class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
              <li>
              {% if user.is_staff %}
              <a href="{% url 'admin-dashboard' %}">Dashboard</a>

              {% else %}
              <a href="{% url 'writer-dashboard' %}">Dashboard</a>
              {% endif %}
                </li>
              <li><a href="{% url 'profile' %}">Settings</a></li>
              <li><a href="{% url 'sign-out' %}">Logout</a></li>
            </ul>
          </div>
          {{user}}
          {% else %}
          <a href="{% url 'sign-up' %}" class="btn">Sign Up</a>
          <a href="{% url 'sign-in' %}" class="btn">Sign In</a>
          {% endif %}
          
        </div>
       </div>
       {{ redirect_to_login_immediately }}
       
        
    {% block message %}
      
    {% endblock  %}    
    <div id="loading-spinner" class="spinner" style="display: none;">
      <span class="loading loading-dots loading-lg" style="position: fixed;top:50%;left:50%;"></span>

    </div>
    <div id="toast" class="toast toast-top toast-end mr-16 mt-12 animate__fadeInDown" style="display: none;">
      <div class="alert alert-info">
        <span>New mail arrived.</span>
      </div>
      
    </div>
  
    {% block content %}
      
    {% endblock  %}
    
    
     
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      document.getElementById('loading-spinner').style.display = 'block';
      setTimeout(function() {
        document.getElementById('loading-spinner').style.display = 'none';
      }, 500);
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const spinner = document.getElementById('loading-spinner');
      
        // Show spinner before AJAX request
        function showSpinner() {
          spinner.style.display = 'block';
        }
      
        // Hide spinner after AJAX request
        function hideSpinner() {
          spinner.style.display = 'none';
        }
      
        
      });
      </script>
   
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      const authorId="{{ request.user.id }}"
      const socket = new WebSocket(`ws://localhost:8000/ws/comments/${authorId}/`);

      socket.onopen = function() {
          console.log("WebSocket Connected!");
      };

      socket.onmessage = function(event) {
          const data = JSON.parse(event.data);
          //data.user
          //data.text
          console.log(data)
          document.querySelector('.alert span').textContent = `${data.user} commented ${data.text}`;  
              document.getElementById('toast').style.display = 'block';
              setTimeout(() => {
                  toast.style.display = 'none';
              }, 50000);

          
      };

      socket.onerror = function(error) {
          console.log("WebSocket Error:", error);
      };

      socket.onclose = function() {
          console.log("WebSocket Disconnected!");
      };
  </script>
    
</body>
</html>