{% extends 'reader/base.html' %}
{% block content %}
{% load daisyui_filters %}
{% load crispy_forms_tags %}
  <div class="min-h-screen bg-base-200">
    <div class="grid grid-cols-8 gap-5">
        <div class="col-start-2 col-span-4 mt-5">
            <div class="flex justify-between items-center">
                <div class="flex">
                  <div class="avatar">
                    <div class="w-20 rounded-full mr-3">
                        <img
                          src="{{article.get_account_status.profile.url}}"
                          style="object-fit: cover;height:100%"
                          alt="Shoes" />
                      </div>
                      
                </div>
                <div class="flex-row">
                  {{article.author}}
                  <br>
                  {{article.posted_at}}
                  <br>
                  <div class="badge badge-accent badge-outline">{{reading_time}} min read</div>

                </div>
                </div>
                
                <div class="">
                    
                    {% if article_favorite %}
                     <form action="{% url 'remove-favorite' article.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-error"> Remove From Your Favorites<i class="fa-solid fa-trash"></i>
                      </button>
                     </form>
                     {% else %}
                     
                     <form action="{% url 'article-favorite' article.id %}" method="post">
                      {% csrf_token %}
                      <button class="btn btn-secondary">
                        Add To Your Favorites
                        <i class="fa-solid fa-bookmark"></i>
                        </button>
                     </form>
                    {% endif %}
                      
                   
                     
                    
                      
                </div>
            </div>
            <div class="divider divider-neutral"></div>

            <figure>
                <img
                  style="object-fit: cover;height:500px;width:100%"
                  src="{{article.photo.url}}"
                  alt="Album" />
              </figure>        
                <div class="divider divider-neutral"></div>
               
                  <h2 class="text-xl text-balance font-semibold">Title : {{article.title}}</h2>
                  <p class="antialiased tracking-wide	leading-relaxed">{{article.content}}</p>
                  
                  <div class="divider divider-neutral"></div>
                 
                  <div class="my-5">
                    
                    {% for article_rev in article_reviews %}
                    <div class="flex items-center ">
                      <div class="avatar">
                          <div class="w-10 rounded-full mr-3">
                              <img
                                src="{{article_rev.get_commenter.profile.url}}"
                                style="object-fit: cover;height:100%"
                                alt="Shoes" />
                            </div>
                      </div>
                      <div class="">
                        {{article_rev.user}}
                        <br>
                      </div>
                    </div>
                    <div class="card-body ml-6">
                      {{article_rev.comment}}
                    </div>
                    {% endfor %}
                      
                  </div>
                  <div class="">
                    <form action="" method="post">
                      {% csrf_token %}
                      
                      {% for i in  %}
                        {{i}}
                      {% endfor %}
                        
                      <input type="submit" class="btn btn-active" value="Submit">
                    </form>
                  </div>
        </div>
        <div class="col-start-6 col-span-2">
          <div class="flex-row">
            
            <div class="card">
              
              <div class="card-body">
                  Your Favorite Posts
                  <div class="card bg-base-100 w-96 shadow-xl">
                      <div class="card-body">
                        {% if user_favorites  %}

                         {% for favorite in user_favorites %}
                         
                         
                          
                         <div class="flex-row flex items-center">
                         
                               <h2 class="mx-4">- <a href="" class="link">{{favorite.article}}</a></h2> 
                         </div>
                         {% endfor %}
                         {% else %}
                         <p class="text-center">No Favorite here.</p>
                         {% endif %}
                        
                      </div>
                    </div>
                </div>
              </div>
            
          </div>
          </div>
      </div>
  </div>
{% endblock  %}